In [1]:
import pandas as pd

from datasets import select_all_phylas
from taxonomy_processing import create_taxonomy

In [2]:
column_names = ["tax_id", "org_name", "gene_id", "current_id", "status", "symbol", "aliases", "description",
                "other_designations", "map_location", "chromosome", "genomic_nucleotide_accession.version",
                "start_position_on_the_genomic_accession", "end_position_on_the_genomic_accession", "orientation",
                "exon_count", "to_delete_1", "to_delete_2"]

df = pd.read_csv("../all_nxf1_2.txt", sep="\t", skiprows=1, names=column_names, index_col=0)
df.drop(["to_delete_1", "to_delete_2"], axis=1, inplace=True)
df.head()

,org_name,gene_id,current_id,status,symbol,aliases,description,other_designations,map_location,chromosome,genomic_nucleotide_accession.version,start_position_on_the_genomic_accession,end_position_on_the_genomic_accession,orientation,exon_count
tax_id,,,,,,,,,,,,,,,
9606,Homo sapiens,10482,0,live,NXF1,"MEX67, TAP",nuclear RNA export factor 1,nuclear RNA export factor 1|mRNA export factor...,11q12.3,11,NC_000011.10,62792130.0,62805440.0,minus,22.0
10090,Mus musculus,53319,0,live,Nxf1,"Mex67, Mvb1, Tap",nuclear RNA export factor 1,nuclear RNA export factor 1|Mex 67 homolog|mRN...,19 5.5 cM,19,NC_000085.7,8734467.0,8748274.0,plus,20.0
10116,Rattus norvegicus,59087,0,live,Nxf1,"Mex67h, Tap",nuclear RNA export factor 1,nuclear RNA export factor 1|mRNA export factor...,1q43,1,NC_086019.1,215084563.0,215097756.0,plus,21.0
8407,Rana temporaria,120917577,0,live,NXF1,NaN,nuclear RNA export factor 1,nuclear RNA export factor 1,NaN,11,NC_053499.1,120752259.0,120809664.0,plus,22.0
8364,Xenopus tropicalis,734058,0,live,nxf1,"mex67, tap",nuclear RNA export factor 1,nuclear RNA export factor 1,NaN,4,NC_030680.2,36493131.0,36532401.0,minus,23.0

In [3]:
# long-time func !!!
phyla_taxids, taxids_error = select_all_phylas(df)

In [8]:
with open("../all_phylas_taxonomy.tsv", "w") as outfile:
    for index, taxonomy in phyla_taxids.items():
        outfile.write(f"{index}\t{taxonomy}\n")

In [2]:
column_names = ["tax_id", "org_name", "gene_id", "current_id", "status", "symbol", "aliases", "description",
                "other_designations", "map_location", "chromosome", "genomic_nucleotide_accession.version",
                "start_position_on_the_genomic_accession", "end_position_on_the_genomic_accession", "orientation",
                "exon_count", "to_delete_1", "to_delete_2"]

df = pd.read_csv("../arthropods_nxf1.txt", sep="\t", skiprows=1, names=column_names, index_col=0)
df.drop(["to_delete_1", "to_delete_2"], axis=1, inplace=True)
df.head()

,org_name,gene_id,current_id,status,symbol,aliases,description,other_designations,map_location,chromosome,genomic_nucleotide_accession.version,start_position_on_the_genomic_accession,end_position_on_the_genomic_accession,orientation,exon_count
tax_id,,,,,,,,,,,,,,,
7029,Acyrthosiphon pisum,100162037,0,live,LOC100162037,NaN,nuclear RNA export factor 1,nuclear RNA export factor 1,NaN,A3,NC_042496.1,20030383.0,20037558.0,plus,14.0
7029,Acyrthosiphon pisum,100575301,0,live,LOC100575301,NaN,nuclear RNA export factor 1,nuclear RNA export factor 1,NaN,A3,NC_042496.1,20015402.0,20023198.0,plus,9.0
7029,Acyrthosiphon pisum,103310653,0,live,LOC103310653,NaN,nuclear RNA export factor 1-like,nuclear RNA export factor 1-like,NaN,X,NC_042493.1,111953054.0,111956482.0,minus,8.0
121845,Diaphorina citri,103517914,0,live,LOC103517914,NaN,nuclear RNA export factor 1-like,nuclear RNA export factor 1-like,NaN,Un,NW_007379432.1,29334.0,47939.0,plus,5.0
103372,Acromyrmex echinatior,105148000,0,live,LOC105148000,G5I_08154,nuclear RNA export factor 1-like,nuclear RNA export factor 1-like|Nuclear RNA e...,NaN,Un,NW_011627193.1,736930.0,742711.0,minus,10.0

In [10]:
# long-time func !!!
phyla_taxids_arthropods, taxids_error_arthropods = select_all_phylas(df)

In [12]:
with open("../arthropods_taxonomy.tsv", "w") as outfile:
    for index, taxonomy in phyla_taxids_arthropods.items():
        outfile.write(f"{index}\t{taxonomy}\n")

In [71]:
create_taxonomy("../arthropods_taxonomy.tsv")

In [73]:
create_taxonomy("../all_phylas_taxonomy.tsv")