In [1]:
import os
import subprocess

import pandas as pd

from fasta_processing import read_single_fasta, read_fasta
from maxentscan import run_maxentscan, run_maxentscan_all_introns

In [2]:
# mamba install maxentscan -c bioconda

In [3]:
phylum = "Ecdysozoa"

org_names = \
    [
        'caenorhabditis_elegans_0',
        'brugia_malayi_2',
        'trichinella_spiralis_3',
        'priapulus_caudatus_4',
    ]

run_maxentscan(phylum, org_names)
df_ecdysozoa = pd.read_csv(f"../maxentscan_output/{phylum}/result.tsv", sep="\t")
df_ecdysozoa

                 org_name site_type                 site_seq  maxentscore
0  Caenorhabditis_elegans     donor                CAGGTTACA        -1.25
1  Caenorhabditis_elegans  acceptor  CCCCAAACCTACCACTTCAGCTA         3.07
2           Brugia_malayi     donor                AAGGTTATC         0.62
3           Brugia_malayi  acceptor  GAATGTTCTCTCGATTACAGCGC         7.56
4    Trichinella_spiralis     donor                CAGGTTTGT         7.44
5    Trichinella_spiralis  acceptor  AAATGATCTTATACTTATAGAGC         3.95
6      Priapulus_caudatus     donor                CAGGTGAGG        10.07
7      Priapulus_caudatus  acceptor  TTCCCATGTTGTTTTTCCAGTGC         9.38

In [4]:
phylum = "Spiralia"

org_names = \
    [
        'schistosoma_haematobium_1',
        'mya_arenaria_2',
        'crassostrea_virginica_7',
        'magallana_gigas_8',
        'gigantopelta_aegis_6',
        'aplysia_californica_9',
    ]

run_maxentscan(phylum, org_names)
df_spiralia = pd.read_csv(f"../maxentscan_output/{phylum}/result.tsv", sep="\t")
df_spiralia

                   org_name site_type                 site_seq  maxentscore
0   Schistosoma_haematobium     donor                AGCGTGAGT         8.20
1   Schistosoma_haematobium  acceptor  GAATCACTGCACTGGCTCAGTAA        -1.27
2              Mya_arenaria     donor                CAGGTAATC         6.99
3              Mya_arenaria  acceptor  TTGTTTATTTTATGTTTCAGTGG         9.29
4     Crassostrea_virginica     donor                TAGGTAAAA         6.02
5     Crassostrea_virginica  acceptor  ACAAGTGTGATTCATTTTAGTGC         5.59
6           Magallana_gigas     donor                TAGGTAATG         7.57
7           Magallana_gigas  acceptor  ACAAATTTGATTCATTTTAGTGC         6.70
8        Gigantopelta_aegis     donor                TAGGTAATG         7.57
9        Gigantopelta_aegis  acceptor  TTGATGTGACACTTTTCCAGCAT         5.17
10      Aplysia_californica     donor                GAGGTAAGT        11.08
11      Aplysia_californica  acceptor  CCAAATTTTATTGTAAACAGCGC         4.17

---

In [5]:
# Пробуем посмотреть, какие показатели по скору у других интронов

In [8]:
run_maxentscan_all_introns("Ecdysozoa", "caenorhabditis_elegans_0")
df_caenorhabditis_elegans = pd.read_csv("../maxentscan_output/Ecdysozoa_full_gene/caenorhabditis_elegans_0/result.tsv", sep="\t")
df_caenorhabditis_elegans

   donor_seq  donor_score  acceptor_score             acceptor_seq
0  CAGGTAACG        10.52            8.44  CCAACTTATTTTTGTTTCAGTTC
1  CATGTAAGC         5.61            6.28  TCATTACAAACATTTTTCAGAGA
2  TCAGTGAGT         7.68            6.58  AGTAATTTTTATCATTTCAGAAC
3  CACGTTAGT         0.44            7.29  ATTCAACTTTTGATTTACAGATT
4  CAGGTTACA        -1.25            3.07  CCCCAAACCTACCACTTCAGCTA
5  CTGGTAAGT        10.65            4.39  CGGAATGAAACTACTTTCAGGAC
6  AGAGTAAGT         9.35            6.74  CGTTATTCTAATATTTTTAGGCT
7  TGAGTAAGG         5.02            7.58  TTATATTTATTGATTTTCAGCGA
8  TGAGTGGGT        -0.56            8.47  CATGATTTTCGTATTTTCAGCTC
9  GACGTATGT         7.83           -3.40  TAAAATTGAAGCAATTTCAGTTC