In [1]:
import os
import subprocess

import pandas as pd

from fasta_processing import read_single_fasta, read_fasta
from maxentscan import run_maxentscan

In [2]:
# mamba install maxentscan -c bioconda

In [3]:
phylum = "Ecdysozoa"

org_names = \
    [
        'caenorhabditis_elegans_0',
        'brugia_malayi_2',
        'trichinella_spiralis_3',
        'priapulus_caudatus_4',
    ]

run_maxentscan(phylum, org_names)
df_ecdysozoa = pd.read_csv(f"../maxentscan/{phylum}/result.tsv", sep="\t")
df_ecdysozoa

                 org_name site_type                 site_seq  maxentscore
0  Caenorhabditis_elegans     donor                CAGTTACAT        -0.71
1  Caenorhabditis_elegans  acceptor  CCCCAAACCTACCACTTCAGCTA         3.07
2           Brugia_malayi     donor                AAGTTATCA        -1.28
3           Brugia_malayi  acceptor  GAATGTTCTCTCGATTACAGCGC         7.56
4    Trichinella_spiralis     donor                CAGTTTGTT        -6.64
5    Trichinella_spiralis  acceptor  AAATGATCTTATACTTATAGAGC         3.95
6      Priapulus_caudatus     donor                CAGTGAGGT        -5.87
7      Priapulus_caudatus  acceptor  TTCCCATGTTGTTTTTCCAGTGC         9.38

In [4]:
phylum = "Spiralia"

org_names = \
    [
        'schistosoma_haematobium_1',
        'mya_arenaria_2',
        'crassostrea_virginica_7',
        'magallana_gigas_8',
        'gigantopelta_aegis_6',
        'aplysia_californica_9',
    ]

run_maxentscan(phylum, org_names)
df_spiralia = pd.read_csv(f"../maxentscan/{phylum}/result.tsv", sep="\t")
df_spiralia

                   org_name site_type                 site_seq  maxentscore
0   Schistosoma_haematobium     donor                AGCTGAGTG       -24.77
1   Schistosoma_haematobium  acceptor  GAATCACTGCACTGGCTCAGTAA        -1.27
2              Mya_arenaria     donor                CAGTAATCG        -7.50
3              Mya_arenaria  acceptor  TTGTTTATTTTATGTTTCAGTGG         9.29
4     Crassostrea_virginica     donor                TAGTAAAAA       -10.66
5     Crassostrea_virginica  acceptor  ACAAGTGTGATTCATTTTAGTGC         5.59
6           Magallana_gigas     donor                TAGTAATGC        -9.16
7           Magallana_gigas  acceptor  ACAAATTTGATTCATTTTAGTGC         6.70
8        Gigantopelta_aegis     donor                TAGTAATGG        -9.32
9        Gigantopelta_aegis  acceptor  TTGATGTGACACTTTTCCAGCAT         5.17
10      Aplysia_californica     donor                GAGTAAGTG       -12.10
11      Aplysia_californica  acceptor  CCAAATTTTATTGTAAACAGCGC         4.17