In [2]:
import pandas as pd

from datasets import select_phyla, download_all_files_ncbi

In [3]:
column_names = ["tax_id", "org_name", "gene_id", "current_id", "status", "symbol", "aliases", "description",
                "other_designations", "map_location", "chromosome", "genomic_nucleotide_accession.version",
                "start_position_on_the_genomic_accession", "end_position_on_the_genomic_accession", "orientation",
                "exon_count", "to_delete_1", "to_delete_2"]

df = pd.read_csv("../all_nxf1.txt", sep="\t", skiprows=1, names=column_names, index_col=0)
df.drop(["to_delete_1", "to_delete_2"], axis=1, inplace=True)
df.head()

,org_name,gene_id,current_id,status,symbol,aliases,description,other_designations,map_location,chromosome,genomic_nucleotide_accession.version,start_position_on_the_genomic_accession,end_position_on_the_genomic_accession,orientation,exon_count
tax_id,,,,,,,,,,,,,,,
8407,Rana temporaria,120917577,0,live,NXF1,NaN,nuclear RNA export factor 1,nuclear RNA export factor 1,NaN,11,NC_053499.1,120752259.0,120809664.0,plus,22.0
8364,Xenopus tropicalis,734058,0,live,nxf1,"mex67, tap",nuclear RNA export factor 1,nuclear RNA export factor 1,NaN,4,NC_030680.2,36493131.0,36532401.0,minus,23.0
9598,Pan troglodytes,451267,0,live,NXF1,CK820_G0030982,nuclear RNA export factor 1,nuclear RNA export factor 1,NaN,9,NC_072407.2,65104305.0,65118449.0,minus,23.0
9913,Bos taurus,512136,0,live,NXF1,NaN,nuclear RNA export factor 1,nuclear RNA export factor 1,NaN,29,NC_037356.1,41099477.0,41110792.0,minus,22.0
9615,Canis lupus familiaris,483780,0,live,NXF1,NaN,nuclear RNA export factor 1,nuclear RNA export factor 1,NaN,18,NC_051822.1,54936964.0,54947631.0,plus,21.0

In [4]:
phylas = [
    "Cnidaria",
    "Ctenophora",
    "Choanoflagellata",
    "Amoeba",
    "Ciliophora"
]

In [4]:
# long-time func !!!
phyla_taxids, taxids_error = select_phyla(df, phylas)
phyla_taxids

ERROR taxid: 9669, Mustela putorius furo
ERROR taxid: 13085, Heteronotia binoei
ERROR taxid: 30640, Sciurus carolinensis
ERROR taxid: 9715, Mirounga leonina
ERROR taxid: 61156, Arvicanthis niloticus
Cnidaria: 50429, Stylophora pistillata
ERROR taxid: 2732470, Bacidia gigantensis
Choanoflagellata: 431895, Monosiga brevicollis MX1
Cnidaria: 6105, Actinia tenebrosa
ERROR taxid: 143948, Diuraphis noxia
Cnidaria: 6087, Hydra vulgaris
Choanoflagellata: 946362, Salpingoeca rosetta
Cnidaria: 45351, Nematostella vectensis

{'Cnidaria': [50429, 6105, 6087, 45351],
 'Ctenophora': [],
 'Choanoflagellata': [431895, 946362],
 'Amoeba': [],
 'Ciliophora': []}

In [5]:
found_phyla_taxids = {
    'Cnidaria': [50429, 6105, 6087, 45351],
    'Ctenophora': [],
    'Choanoflagellata': [431895, 946362],
    'Amoeba': [],
    'Ciliophora': []
}

In [ ]:
taxids_error

In [5]:
found_taxids_error = [9669, 13085, 30640, 9715, 61156, 2732470, 143948]

In [7]:
phyla_taxids_missed = select_phyla(df, phylas, found_taxids_error)
phyla_taxids_missed[0]

{'Cnidaria': [],
 'Ctenophora': [],
 'Choanoflagellata': [],
 'Amoeba': [],
 'Ciliophora': []}

In [6]:
download_all_files_ncbi(df, found_phyla_taxids, phylas=["Cnidaria", "Choanoflagellata"])

Gene, mRNA, protein for Cnidaria/stylophora_pistillata downloaded successfully
Gene, mRNA, protein for Cnidaria/actinia_tenebrosa downloaded successfully
Gene, mRNA, protein for Cnidaria/hydra_vulgaris downloaded successfully
Gene, mRNA, protein for Cnidaria/nematostella_vectensis downloaded successfully
Gene GenBank for Cnidaria/stylophora_pistillata downloaded successfully
Gene GenBank for Cnidaria/actinia_tenebrosa downloaded successfully
Gene GenBank for Cnidaria/hydra_vulgaris downloaded successfully
Gene GenBank for Cnidaria/nematostella_vectensis downloaded successfully
Exons for Cnidaria/stylophora_pistillata created successfully
Exons for Cnidaria/actinia_tenebrosa created successfully
Exons for Cnidaria/hydra_vulgaris created successfully
Exons for Cnidaria/nematostella_vectensis created successfully

Gene, mRNA, protein for Choanoflagellata/monosiga_brevicollis_mx1 downloaded successfully
Gene, mRNA, protein for Choanoflagellata/salpingoeca_rosetta downloaded successfully
Gene GenBank for Choanoflagellata/monosiga_brevicollis_mx1 downloaded successfully
Gene GenBank for Choanoflagellata/salpingoeca_rosetta downloaded successfully
Exons for Choanoflagellata/monosiga_brevicollis_mx1 created successfully
Exons for Choanoflagellata/salpingoeca_rosetta created successfully